.media-modal tr[class^='compat-field-slimage_'] {
    display: none;
}

.slimage-description {
    padding-top: 1rem;
}

.slimage-setting {
    opacity: 0.2;
    pointer-events: none;
    transition: all 300ms ease;
}

.slimage-setting.disabled {
    display: none;
}

.slimage-setting.active {
    pointer-events: auto;
    opacity: 1;
}

.slimage-setting input[type="number"],
tr.compat-field-slimage_quality input[type="number"] {
    max-width: 60px;
}

.slimage-server-path input[type="text"],
.slimage-setting input[type="text"],
tr.compat-field-slimage_extras input[type="text"] {
    width: 100%;
    max-width: 400px;
}

.slimage-server-path label {
    display: block;
}

.slimage-check input:disabled + label,
.slimage-setting input:disabled + label {
    color: red;
}

tr.compat-field-slimage_override .label {
    border-bottom: 1px solid #ccc;
}

tr.compat-field-slimage_override th,
tr.compat-field-slimage_override td {
    padding: 1rem 0;
}

tr.compat-field-slimage_quality,
tr.compat-field-slimage_extras {
    display: none;
}

tr[class^='compat-field-slimage_'] th {
    vertical-align: top;
    text-align: left;
}

tr[class^='compat-field-slimage_'] .warning {
    background: #fff;
    border-left: 3px solid red;
    display: table-row;
    float: left;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-top: 1rem;
}

tr.compat-field-slimage_quality.active,
tr.compat-field-slimage_extras.active {
    display: table-row;
}

tr.compat-field-slimage_quality th,
tr.compat-field-slimage_quality td {
    padding-top: 1rem;
}

tr.compat-field-slimage_quality th,
tr.compat-field-slimage_extras th {
    padding-left: 1rem;
}

tr.compat-field-slimage_quality td,
tr.compat-field-slimage_extras td {
    padding-right: 1rem;
}

tr.compat-field-slimage_extras th,
tr.compat-field-slimage_extras td {
    padding-bottom: 1rem;
}